// core overrides

//header
$navbar-height:                       40px !default;

$sidebar-header-padding-y: 0.45rem !default;
$sidebar-header-padding-x: 0.75rem !default;

$sidebar-nav-title-padding-y: 0.45rem !default;
$sidebar-nav-title-padding-x: 0.75rem !default;

$sidebar-nav-link-padding-y: 0.45rem !default;
$sidebar-nav-link-padding-x: 0.75rem !default;

$sidebar-footer-padding-y: 0.45rem !default;
$sidebar-footer-padding-x: 0.75rem !default;

$aside-menu-nav-padding-y: 0.45rem !default;
$aside-menu-nav-padding-x: 0.75rem !default;