<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>Users 
                </div>
                <div class="card-body">

                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>User Name</th>
                                <th>E-Mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of users; index as i;">
                                <th>{{u.FullName}}</th>
                                <th>{{u.UserName}}</th>
                                <th>{{u.Email}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->
</div>
