<div class='workspace-wrapper'>

    <tabset #documentTabs *ngIf="documents.length > 0" style="height: 100%; ">
        <tab *ngFor="let document of documents; index as documentIndex; first as firstDocument; trackBy: trackByDocumentId"
            [active]="document.active" (selectTab)="document.active = true" (deselect)="document.active = false">
            <ng-template tabHeading><i class="icon-list"></i> <span>{{document.title}}</span></ng-template>

            <div class="container-fluid flex-fill">
            </div><!-- /.container-fluid -->

        </tab>
    </tabset>

</div>
