@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Html
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer T
@inject Microsoft.Extensions.Options.IOptions<IdentityOptions> IdentityOptions

<h1>Hello, Setup</h1>