// Variable overrides

$font-size-base: 0.755rem;

$navbar-height:                       40px !default;
$sidebar-nav-title-padding-y:         0.40rem !default;
$sidebar-nav-link-padding-y:          0.40rem !default;
