
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style asp-src="/S2fx.Web/css/index.css"></style>
</head>
<body>
    <h1>Hello world from S2fx.Web!</h1>
</body>
</html>
